/* variable color use for defferent theme */
:root {
    --init-Bg: #212121;
    --secInit-bg: #282828;
    --onHover: #222222;
    --text: #cfcfcf;
    --heading-color: #5d5d5d;
    --load1: #1958d6;
    --load2: #252525;
}

.light {
    --init-Bg: #e6e6e6;
    --secInit-bg: #d6d6d6;
    --onHover: #c4c4c4;
    --text: #212121;
    --heading-color: #b1b1b1;
    --load1: #5ebdff;
    --load2: #ffabeb;
}
/* app Css Start */

body {
    background-color: var(--init-Bg);
}

/* Welcome page  */

#welcome {
    width: 100vw;
    height: 100vh;
    background-color: var(--secInit-bg);
    color: var(--text);

}

#welcome nav {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    height: 50px;
}

#welcome nav h1 {
    font-size: 24px;
    font-weight: 400;
}

#welcome nav ul .navlink {
    text-decoration: none;
    color: var(--text);
    margin: 0 20px;
}

#welBtn {
    padding: 7px 12px;
    border-radius: 22px;
    background-color: #a8c7fa;
    text-decoration: none;
    color: #0043c8;
    font-size: 15px;
}

#wel_main {
    width: 100vw;
    height: calc(100% - 50px);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wel_mainIn {
    width: 55%;
    height: 60%;
    display: flex;
}

.wel_left {
    width: 50%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding-top: 50px;
    align-items: start;
    gap: 5px;
    /* background-color: green; */

    flex-direction: column;
}

.wel_left h1 {
    font-size: 90px;
    font-weight: 300;
    background-image: linear-gradient(95deg, #4b90ff, #ff5546);
    background-clip: text;
    color: transparent;
    width: fit-content;
    line-height: 75px;
}

.wel_left h2 {
    font-weight: 400;
    width: 70%;
    font-size: 21px;
    color: white;
    margin-bottom: 10px;
}

.wel_left p {
    font-size: 16px;
    width: 80%;

}
.wel_left #welBtn{
    margin-top: 10px;
}
.wel_mainIn img{
    height: 90%;
    width: 50%;
    border-radius: 10px;
    object-fit:cover;

}

/* Login page */


#Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secInit-bg);
}

.LoginPanal {
    width: 80%;
    height: 70%;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    background-color: var(--init-Bg);
}

.leftlog,
.rightlog {
    width: 50%;
    height: 100%;
    color: var(--text);
    padding: 20px;
    position: relative;
}


.leftlog img {
    margin-top: 10px;
    width: 50px;
}

.leftlog h1 {
    margin: 15px 0;
    text-transform: capitalize;
    font-weight: 400;
}

.leftlog p {
    margin: 10px 0;
    font-size: 16px;
}

.rightlog .inputfilds {
    margin-top: 90px;
}

.rightup .inputfilds {
    margin-top: 0px;
}

.rightlog form input {
    margin-bottom: 10px;
    color: var(--text);
    display: block;
    width: 90%;
    background-color: transparent;
    border: 2px solid #a8c7fa;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
}

.rightlog #forgotpass {
    color: var(--text);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #a8c7fa;
    margin-bottom: 50px;
}

.rightlog p {
    font-size: 15px;
    font-weight: 300;
}

.rightlog p span {
    color: #4b90ff;
}

.rightlog #btns {
    position: absolute;
    bottom: 6%;
    right: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rightlog #signup-log {
    color: #81aff8;
    text-decoration: none;
    font-size: 14px;
    margin-right: 30px;
}

.rightlog #submitbtn {
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #a8c7fa;
    color: #0043c8;
    border: none;
    cursor: pointer;
}

/* sidebar component */

#sidebar {
    padding: 25px 15px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    height: 100vh;
    background-color: var(--secInit-bg);
}

.menubar,
.close {
    color: var(--text);
    font-size: 23px;
    /* text-align: center; */
    margin-left: 7px;
}

.close {
    margin-left: 11px;
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.menubar i {
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}

.menubar i:hover {
    background-color: var(--onHover);
}

.newchat {
    width: fit-content;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    margin-top: 50px;
    color: var(--text);
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;

}

.newchat:hover {
    background-color: var(--onHover);
}

.newchat i {
    font-size: 30px;
}

.recent {
    /* margin-top: 30px; */
    width: 100%;
    height: 50%;
    /* border: .5px solid; */
    overflow: auto;
    position: relative;
    cursor: pointer;


}

.recent::-webkit-scrollbar {
    display: none;
}

.recent h1 {
    font-size: 17px;
    color: var(--text);
    font-weight: 300;
    padding: 0 10px 20px 10px;
    /* margin-bottom: 15px; */
    position: sticky;
    top: 0;
    background-color: var(--secInit-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.recent h1 i {
    padding: 7px;
    border-radius: 50%;

}

.recent h1 i:hover {
    background-color: var(--onHover);
}

.pre-prompt {
    display: flex;
    align-items: center;
    color: var(--text);
    gap: 10px;
    padding: 13px;
    /* border: .5px solid white; */
    border-radius: 30px;
    font-size: 16px;
    transition: all .5s ease;
}

.pre-prompt:hover {
    background-color: var(--onHover);

}

.pre-prompt i {
    font-size: 17px;
}

.Otr-sections {
    color: var(--text);
}

.sections {
    padding: 10px 12px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.sections i {
    margin-right: 5px;
    font-size: 22px;
}

.sections:hover {
    background-color: var(--onHover);
}


/* Home component */

.home {
    /* border: .5px solid white; */
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    color: var(--text);
    /* background-color: red; */
}

.nav h1 {
    color: var(--text);
    font-size: 24px;
    font-weight: 400;
}

.nav span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav .ot-devc {
    display: none;
}

.nav i {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.nav img {
    width: 34px;
    border-radius: 50%;
}

.result-display {
    height: 78vh;
    position: relative;
    color: var(--heading-color);
    /* background-color: red; */
    overflow: hidden;
}

.heading {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

.heading h2 {
    font-size: 8vmin;
    font-weight: 500;
}

#userName {
    display: inline;
    background-image: linear-gradient(95deg, #4b90ff, #ff5546);
    background-clip: text;
    color: transparent;
}

.result {
    max-width: 870px;
    height: 100%;
    /* background-color: black; */
    margin: auto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.currentInput {
    background-color: var(--init-Bg);
    color: var(--text);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 0 15px;
    gap: 15px;

}

.currentInput span {
    font-size: 16px;
}

.currentInput img {
    width: 40px;
    border-radius: 50%;
}

.result-inner {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: start;
    color: var(--text);
    overflow: auto;
    padding-left: 15px;

}

.result-inner img {
    width: 35px;
    height: 32px;
    border-radius: 50%;
}

.result-inner .pera {
    flex: 1;
    height: 100%;
    padding: 0 5px;
    /* background-color: lightseagreen; */
}

.pera P {
    padding-bottom: 50px;
    color: var(--text);
    letter-spacing: .7px;
    line-height: 30px;
}

.loader {
    max-width: 850px;
    height: 200px;
    margin: auto;
    /* border: .5px solid red; */
}

.loader span {
    display: block;
    height: 23px;
    margin: 7px 0;
    border-radius: 5px;
    background: linear-gradient(to right, var(--load1), var(--load2), var(--load1));
    background-size: 800px 50px;
    animation: load 2s infinite linear;
}

.loader span:nth-child(3) {
    width: 80%;
}

.loader span:nth-child(4) {
    width: 50%;
}

/* some animation and webkit in homepage */

@keyframes load {
    0% {
        background-position: -800px 0px;
    }

    100% {
        background-position: 800px 0px;
    }
}

.result-inner::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.result-inner ::-webkit-scrollbar-track {
    background: #2c2c2c;
    /* border-radius: 10px; */
}

.result-inner::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: poiner;
}

.home-bottom {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 7px;
    /* background-color: red; */
}

.shadow {
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, var(--onHover));
    position: absolute;
    top: -50%;
    pointer-events: none;
}

#input-box {
    flex: 1;
    background-color: var(--secInit-bg);
    color: var(--text);
    padding: 8px 6px;
    padding-left: 15px;
    border-radius: 30px;
    display: flex;

}

#input-box input {
    padding: 8px 5px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    outline: none;
    flex: 1;
    color: var(--text);

}


#input-box span {
    padding: 9px 10px;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--onHover);
}

.home-bottom p {
    /* width: fit-content; */
    color: var(--text);
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    margin-top: 5px;
}

/* css for the small screen size (1100px - 750px) */

@media (max-width:1100px) {
    .LoginPanal {
        min-width: 100%;
    }

    .LoginPanal .leftlog p {
        font-size: 13px;
    }

    .rightlog #forgotpass {
        font-size: 14px;
    }

    .rightlog p {
        font-size: 13px;
    }
}

/* css for the small screen size (750px-630px) */
@media (max-width:750px) {

    .LoginPanal {
        min-width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .rightlog #btns {
        bottom: 35%;
    }

    .leftlog p {
        font-size: 12px;
    }

    .rightlog form input {
        width: 100%;
    }

    .rightlog #forgotpass {
        font-size: 15px;
    }

    .rightlog p {
        font-size: 13px;
    }

    .rightup #btns {
        bottom: 50%;
    }

    #sidebar {
        width: 50%;
        position: absolute;
        transition: all .5s ease;
        top: 0;
        z-index: 2;
    }

    .slideropen {
        left: 0%;
    }

    .sliderclose {
        left: -50%;
    }


    .menubar {
        display: none;
    }

    .close {
        display: block;
    }

    .newchat {
        margin-top: 10px;
    }

    .nav .ot-devc {
        display: inline;
    }

    .home {
        padding: 7px;
    }

    .nav {
        padding: 5px 0;
    }

    .result-display {
        height: 83vh;
    }

    .result {
        font-size: 16px;
    }

    .result-inner {
        padding-left: 20px;
        /* padding-top: 5px; */
        height: calc(100% - 44px);
    }

    .pera P {
        padding-bottom: 30px;
    }

    .currentInput {
        padding: 15px 7px;
        gap: 10px;
    }

    .result img {
        width: 30px;
    }

    .loader span:nth-child(3) {
        width: 100%;
    }

    .loader span:nth-child(4) {
        display: none;
    }

    #input-box span:nth-child(3) {
        display: inline;
    }

    .home-bottom p {
        display: none;
    }
}
/* css for the small screen size (630px - 500px) */

@media (max-width:630px) {
    .LoginPanal {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* justify-content: ; */
    }

    .leftlog {
        /* background-color: blue; */
        width: 100%;
        height: 35%;
    }

    .rightlog {
        width: 100%;
        height: inherit;
        /* background-color: red; */
        padding: 5px 20px;
    }

    .rightlog .inputfilds {
        margin-top: 0px;
    }

    .rightlog #btns {
        justify-content: space-between;
        bottom: 30%;
        right: 0%;
        width: 95.5%;
    }
}

/* css for the mobile (under 500px) */

@media (max-width:500px) {
    #sidebar {
        width: 100%;
    }

    .heading h2 {
        font-size: 50px;
    }

    .heading h2:nth-child(2) {
        display: none;
    }

    .sliderclose {
        left: -100%;
    }

    .home {
        padding: 5px;
    }

    .nav {
        /* background-color: red; */
        padding-right: 5px;
    }

    .result {
        font-size: 15px;
    }

    .result-inner {
        padding-left: 10px;
        gap: 0px;
    }

    .result-inner img {
        width: 25px;
        height: 27px;
        border-radius: 50%;
    }

    .currentInput {
        padding: 10px 5px;
        gap: 10px;
    }

    .result-display {
        height: 85vh;
    }

    /* #input-box span {
        justify-content: space-evenly;
        padding: 5px;
    } */

    /* #input-box input {
        width: 60%;
        flex: none;
        border: .5px solid;
    } */

    #input-box span {
        padding: 5px 7px;
        margin: 0 2px;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
        background-color: var(--onHover);
    }

    #input-box span:nth-child(3) {
        display: inline;
    }
}